$def with (search,directory)
$code:
    if directory:
        items = search_dir("./static/"+directory,search)
    else:
        items = search_dir("./static/",search)

$if directory:
    List result of search <em>$search</em> in <em>$directory</em> directory. </br>
$else:
    List result of search <em>$search</em> in <em>root</em> directory. </br>
$#{$items}
<ul>
            <li>files: </li>
            <ul>
                $for file in items:
                   <li>name : $file[0] | full path : $file[1] | <a href="$file[1][2:]">Download</a> </li>
            </ul>
</ul>
